.project-list {
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .project-list {
    display: block;
    margin: 0;
  }
  .project-list .project {
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 0;
  }
}


.project {
  width: 270px;
  min-width: 270px;
  height: 250px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  width: calc(25% - 1rem);
  margin: 0 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.light {
  color: #5d5d5d;
}

.plus-icon {
  margin-bottom: 1rem;
}

.project-name {
  color: #5d5d5d;
  margin-bottom: 0.5rem;
}

.project-date {
  color: #c6c6c6;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.project-icon {
  margin-bottom: 1rem;
}

.clickable{
  cursor: pointer;
}
