body {
  background-image: linear-gradient(to left, #fcf5f5, #f0f2ff);
}


.App-header {
  background-image: linear-gradient(to left, #ffffff, #f2f3f5);
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.App-header spacer {
  flex: 1;
}
